# Serve Apple App Site Association file for WebAuthn/Face ID
<Files "apple-app-site-association">
    Header set Content-Type "application/json"
    Header set Access-Control-Allow-Origin "*"
</Files>
